@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #3c87ff;
    --secondary: #106afc;
    --cancelPrimary: #FF4545;
    --cancelSecondary: #fc1818;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    /* Use your primary color here */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Optional: Set track background */
  }